@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-size: 2.2em;
    font-family: 'Raleway Bold';
}

h3 {
    font-size: 1.9em;
    font-family: 'Raleway Bold';
}

h4 {
    font-size: 1.7em;
    font-family: 'Raleway Bold';
}

input {
    font-size: 1.5em;
}

p {
    font-size: 1.6em;
}

strong {
    font-family: 'Raleway bold';
}

.footer--list ul {
    font-size: 1.7em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* ------------------------------ header ------------------------------ */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* menu cliquable nav en haut */

.menu_ancres {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.menu_ancres ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-top: 30px;
}

.menu_ancres li {
    display: inline-block;
    width: 50%;
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid #F2F2F2;
}

.menu_ancres a:active {
    color: #0065FC;
}

.menu_ancres li:active {
    border-bottom: solid #0065FC;
    padding-bottom: 20px;
}

.menu_ancres p {
    font-family: 'Raleway Bold';
    color: #0065FC;
    align-self: flex-end;
    margin-right: 70px;
    margin-top: 40px;
}

/* left side of the header */
.header_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px;
}

/* reservia description */
.presentation img {
    position: absolute;
    width: 180px;
    height: auto;
    top: 20px;
    margin-left: 20px;
}

/* city search bar */
.search {
    height: 90px;
    margin-top: 20px;
    display: flex;
}

.place_icon {
    background-color: #F2F2F2;
    text-align: center;
    padding: 28px 30px;
    border-radius: 20px 0 0 20px;
}

.place_icon img {
    width: 25px;
    height: auto;
}

.search input {
    border: 1px solid #F2F2F2;
    padding-left: 20px; padding-right: 20px;
    width: 95%;
    font-family: 'Raleway Bold';
}

.search_btn {
    position: relative;
    background-color: #0065FC;
    border-radius: 25px;
    margin-left: -20px;
    width: 130px;
}

.search_btn img {
    width: 32px;
    height: auto;
    z-index: 1;
}

.search_btn span {
   position: absolute;
   color: white;
    z-index: -2;
}

/* filters bar */
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.filters--btn {
    border: solid #F2F2F2 4px;
    width: auto;
    height: 80px;
    display: flex;
    border-radius: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.filters--btn:active {
    border: 4px solid #0065FC;
}

.filters--pict {
    background-color: #DEEBFF;
    text-align: center;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin-left: -2px;
    margin-top: -2px;
}

.filters h3 {
    margin-right: 51%;
}

.filters p {
    font-family: 'Raleway Bold';
    margin: 18px 30px 25px 22px;
    font-size: 1.7em;
}

/*icon bubbles*/
#money {
    width: 48%;
    margin-top: 30%;
}

#kid {
    width: 36%;
    margin-top: 25%;
}

#heart {
    width: 42%;
    margin-top: 28%;
}

#dog {
    width: 48%;
    margin-top: 25%;
}
/* infos */
.info-bar {
    display: flex;
    margin-bottom: 20px;
}

.info-bulle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid #F2F2F2;
    text-align: center;
    margin: 22px 15px 0px 10px;
}

.info-bulle img {
    width: 6px;
    height: auto;
    margin-top: 5px;
}

/* les plus populaires */
.hebergements--popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}

.hebergements--popular--title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 80%;
}

.hebergements--popular--title img {
    margin-top: 30px;
    width: 40px;
    height: 40px;
}

.cards-popular {
    width: 550px;
    height: 180px;
    border: 8px solid white;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.cards-popular--img {
    width: 37%;
    height: 100%;
    object-fit: cover;
}

.popular--legend {
    width: 65%;
    height: 100%;
    background-color: white;
    border-radius: 0 17px 17px 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.popular--legend p, .cards--legend p {
    margin-top: -35px;
}

.popular--legend h4 {
    margin-top: 10px;
}

.popular--stars-bar {
    width: 150px;
    display: flex;
    margin-top: 10px;
}

.popular--stars-bar img {
    width: 18px;
    height: 18px;
}

/* ------------------------------ Main section with "hébergements" ------------------------------ */
main {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#hebergements {
    display: flex;
    flex-direction: column-reverse;
}

.hebergements--city {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0px;
}

.hebergements--city--cards { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards, .activites--cards {
    display: block;
    width: 550px;
    height: 280px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
    margin-bottom: 20px;
}

.cards--img {
    width: 100%;
}

.img-upper {
    object-position: 0px -80px;
}

#laMer {
    object-position: 0px -140px;
}

#amina {
    object-position: 0px -290px;
}

.cards--legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42%;
    background-color: white;
    padding-left: 25px;
}

.cards--legend h4 {
    margin-top: 8px;
}

.cards--legend p {
    margin-top: -35px;
}

.stars-bar {
    display: flex;
    margin-top: -17px;
}

.stars-bar img {
    width: 18px;
    height: 18px;
}

.hebergements--city h3, .hebergements--city h2 {
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 40px;
}
/* ------------------------------ Section2 ancre activities ------------------------------ */
#activites h2 {
    margin-left: 70px;
}

.activites--boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activites--boxes img {
    width: 100%;
}

#vieuxPort, #longchamp img {
    object-position: 0 -35px;
}

#calanques {
    object-position: 0 -25px;
    filter: brightness(1.1);
}

#garde img {
    object-position: 0 -20px;
}

.activites--cards--both {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites--cards--shorts {
    width: 550px;
    height: 270px;  
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
    margin-bottom: 20px;
}

#pomegues img {
    object-position: 0 -240px;
}

#frioul img {
    object-position: 0 -20px;
}

.activites--cards--legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: white;  
    padding-left: 30px;
}

.activites--cards--legend h4 {
    margin-top: 17px;
}

  /* ------------------------------ Footer ------------------------------ */
  footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 80px;
    padding-bottom: 80px;
  }

  .footer--list ul {
      list-style-type: none;
      padding-left: 0;
  }

  .footer--list li {
      margin-bottom: 10px;
  }