@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

body {
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
    margin: 0;
}

.container {
    min-width: 568px;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-family: 'Raleway Bold';
}

h3 {
    font-size: 1.6em;
    font-family: 'Raleway Bold';
}

h4 {
    font-size: 1.6em;
    font-family: 'Raleway Bold';
}

p {
    font-size: 1.4em;
}

strong {
    font-family: 'Raleway bold';
}

.footer__list ul {
    font-size: 1.6em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* ------------------------------ header ------------------------------ */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* menu cliquable nav en haut */

.menu__ancres {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.menu__ancres ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-top: 30px;
}

.menu__ancres li {
    display: inline-block;
    width: 50%;
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid #F2F2F2;
}

.menu__ancres a:hover {
    color: #0065FC;
}

.menu__ancres li:hover {
    border-bottom: solid #0065FC;
    padding-bottom: 20px;
}

.menu__ancres p {
    font-family: 'Raleway Bold';
    color: #0065FC;
    align-self: flex-end;
    margin-right: 70px;
    margin-top: 40px;
}

/* left side of the header */
.header__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

/* reservia description */
.presentation {
    margin: 0 20px;
}

.presentation img {
    position: absolute;
    width: 150px;
    height: auto;
    top: 20px;
    margin-left: 20px;
}

/* city search bar */
.search {
    height: 90px;
    margin-top: 20px;
    display: flex;
}

.place__icon {
    background-color: #F2F2F2;
    text-align: center;
    padding: 28px 30px;
    border-radius: 20px 0 0 20px;
}

.place__icon img {
    width: 25px;
    height: auto;
}

.search input {
    border: 1px solid #F2F2F2;
    padding-left: 20px; padding-right: 20px;
    width: 95%;
    font-family: 'Raleway Bold';
    font-size: 1.4em;
}

.search__btn {
    position: relative;
    background-color: #0065FC;
    border-radius: 25px;
    margin-left: -20px;
    width: 130px;
}

.search__btn img {
    width: 32px;
    height: auto;
    z-index: 1;
}

.search__btn span {
   position: absolute;
   color: white;
    z-index: -2;
}

/* filters bar */
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.filters__btn {
    border: solid #F2F2F2 4px;
    width: auto;
    height: 70px;
    display: flex;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.filters__btn:hover {
    box-shadow: 0px 0px 10px #0065FC;
}

.filters__pict {
    background-color: #DEEBFF;
    text-align: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin-left: -2px;
    margin-top: -2px;
}

.filters h3 {
    margin-left: 4%;
    margin-right: 59%;
}

.filters p {
    font-family: 'Raleway Bold';
    margin: auto 20px;
    font-size: 1.5em;
}

/*icon bubbles*/
#money {
    width: 42%;
    margin-top: 30%;
}

#kid {
    width: 32%;
    margin-top: 25%;
}

#heart {
    width: 40%;
    margin-top: 28%;
}

#dog {
    width: 48%;
    margin-top: 25%;
}
/* infos */
.info-bar {
    display: flex;
    margin: 20px 20px;
}

.info__bulle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid #F2F2F2;
    text-align: center;
    margin: 22px 15px 0px 10px;
}

.info__bulle img {
    width: 6px;
    height: auto;
    margin-top: 5px;
}

/* les plus populaires */
.hebergements-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}

.hebergements-popular__title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 80%;
}

.hebergements-popular__title img {
    margin-top: 30px;
    width: 40px;
    height: 40px;
}

.popular__cards {
    width: 450px;
    height: 180px;
    border: 8px solid white;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.popular__cards__img {
    width: 37%;
    height: 100%;
    object-fit: cover;
}

.popular__legend {
    width: 65%;
    height: 100%;
    background-color: white;
    border-radius: 0 17px 17px 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.popular__legend p, .cards__legend p {
    margin-top: -35px;
}

.popular__legend h4 {
    margin-top: 10px;
}

.popular__stars-bar {
    width: 150px;
    display: flex;
    margin-top: 10px;
}

.popular__stars-bar img {
    width: 18px;
    height: 18px;
}

/* ------------------------------ Main section with "hébergements" ------------------------------ */
main {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#hebergements {
    display: flex;
    flex-direction: column-reverse;
}

.hebergements__city {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0px;
}

.hebergements__city__cards { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards, .activites__cards {
    display: block;
    width: 450px;
    height: 260px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
    margin-bottom: 20px;
}

.cards__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.img--upper {
    object-position: 0px -90px;
}

#laMer {
    object-position: 0px -180px;
}

#amina {
    object-position: 0px -330px;
}

.cards__legend {
    position: absolute;
    bottom: 0;
    width: 425px;
    height: 42%;
    background-color: white;
    padding-left: 25px;
    border-radius: 0 0 25px 25px;
}

.cards__legend h4 {
    margin-top: 8px;
}

.cards__legend p {
    margin-top: -35px;
}

.stars-bar {
    display: flex;
    margin-top: -17px;
}

.stars-bar img {
    width: 18px;
    height: 18px;
}

.hebergements__city h3, .hebergements__city h2 {
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 40px;
}
/* ------------------------------ Section2 ancre activities ------------------------------ */
#activites h2 {
    margin-left: 70px;
}

.activites__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activites__boxes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#vieuxPort {
    object-position: 0 -35px;
}

#calanques {
    object-position: 0 -35px;
    filter: brightness(1.1);
}

#garde {
    object-position: 0 -15px;
}

.activites__cards__both {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites__cards__shorts {
    width: 450px;
    height: 260px;  
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
    margin-bottom: 20px;
}

#pomegues {
    object-position: 0 -240px;
}

#frioul {
    object-position: 0 -20px;
}

.activites__cards__legend {
    position: absolute;
    bottom: 0;
    width: 420px;
    height: 70px;
    background-color: white;  
    padding-left: 30px;
    border-radius: 0 0 25px 25px;
}

.activites__cards__legend h4 {
    margin-top: 17px;
}

  /* ------------------------------ Footer ------------------------------ */
  footer {
    min-width: 498px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 70px 70px;
  }

  .footer__list ul {
      list-style-type: none;
      padding-left: 0;
  }

  .footer__list li {
      margin-bottom: 10px;
  }