@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

body {
    margin: 0 30px;
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
}

h2 {
    font-size: 2em;
    font-family: 'Raleway Bold';
}

h3 {
    font-size: 1.4em;
    font-family: 'Raleway Bold';
}

h4 {
    font-size: 1.2em;
    font-family: 'Raleway Bold';
}

input, p {
    font-size: 1.5em;
}

strong {
    font-family: 'Raleway bold';
}

.footer--list ul {
    font-size: 1.7em;
}

/* ------------------------------ header ------------------------------ */
header {
    
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid green;
}

/* menu cliquable nav en haut */

.menu_ancres {
    width: 100%;
    border: solid rosybrown;
}

.menu_ancres ul {
    position: absolute;
    width: 90%;
    left: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    border: solid grey;
}

.menu_ancres li {
    display: inline-block;
    margin-left: 0;
    font-size: 1.6em;
    border: solid springgreen;
}

.menu_ancres p {
    font-family: 'Raleway Bold';
    color: #0065FC;
}

/* left side of the header */
.header_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid orange;
    background-color: rgb(236, 217, 181);
}

/* reservia description */
.presentation {
    border: solid royalblue;
}

.presentation img {
    width: 25%;
    margin-bottom: 15%;
}

/* city search bar */
.search {
    height: 80px;
    width: auto;
    margin-bottom: 3%;
    display: flex;
}

.place_icon {
    background-color: #F2F2F2;
    text-align: center;
    padding: 25px 25px;
    border-radius: 20px 0 0 20px;
}

.place_icon img {
    width: 22px;
}
.search input {
    width: auto;
    border: 1px solid #F2F2F2;
    padding-left: 30px;
    font-family: 'Raleway Bold';
}

.search_btn {
    position: relative;
    background-color: #0065FC;
    border-radius: 20px;
    margin-left: -20px;
    width: 100px;
}

.search_btn img {
    width: 35px;
    margin-top: -18px;
    margin-left: -15px;
    z-index: 1;
}

.search_btn p {
   position: absolute;
    z-index: -2;
}

/* filters bar */
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    border: solid maroon;
}

.filters--btn {
    border: solid #DEEBFF 2px;
    width: auto;
    height: 50px;
    display: flex;
    border-radius: 30px;
}

.filters--pict {
    background-color: #DEEBFF;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.filters--btn, .filters h3 {
    margin-right: 20px;
}

.filters p {
    font-family: 'Raleway Bold';
    margin: 10px 15px 15px 20px;
}

/*icon bubbles*/
#money {
    width: 48%;
    margin-top: 30%;
}

#kid {
    width: 36%;
    margin-top: 25%;
}

#heart {
    width: 42%;
    margin-top: 28%;
}

#dog {
    width: 48%;
    margin-top: 25%;
}
/* infos */
.info-bar {
    display: flex;
    margin-bottom: 20px;
}

.info-bulle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid #F2F2F2;
    text-align: center;
    margin: 8px 15px 0px 0px;
}

.info-bulle img {
    height: 50%;
    margin-top: 20%;
}

/* ------------------------------ Main section with "hébergements" ------------------------------ */
main {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#hebergements {
    display: flex;
}

.hebergements--city {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex: 20;
    padding: 30px 30px 0px;
    margin-right: 30px;
    border-radius: 20px;
}

.hebergements--city--cards { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    display: block;
    width: 215px;
    height: 155px;
    border: 4px solid white;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.cards img {
    width: 100%;
}

.img-upper {
    object-position: 0px -20px;
}

#laMer {
    object-position: 0px -60px;
}

#amina {
    object-position: 0px -115px;
}

.cards--legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42%;
    background-color: white;
    padding-left: 15px;
}

.cards--legend h4 {
    margin-top: 8px;
}

.cards--legend p {
    margin-top: -12px;
}

.stars-bar {
    width: 50px;
    display: flex;
    margin-top: -5px;
}

.stars-bar img {
    width: 10px;
}

.hebergements--city a:hover {
    color: #0065FC;
}

/* les plus populaires : aside */
.hebergements--popular {
    padding-top: 30px;
    background-color: #F2F2F2;
    flex: 9;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.hebergements--popular--title {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hebergements--popular--title img {
    width: 20px;
}

.cards-popular {
    width: 280px;
    height: 110px;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.cards-popular--img {
    width: 40%;
    height: 120px;
    object-fit: cover;
}

.popular--legend {
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 0 17px 17px 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.popular--legend h4 {
    margin-top: 10px;
}

.popular--legend p {
    margin-top: -10px;
}

.popular--stars-bar {
    width: 50px;
    display: flex;
    margin-top: 20px;
}

.popular--stars-bar img {
    width: 10px;
}

.hebergements--popular a:hover {
    color: #0065FC;
}
/* ------------------------------ Section2 ancre activities ------------------------------ */
#activites {
    padding: 20px 10px;
}

.activites--boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activites--cards {
    display: block;
    position: relative;
    height: 310px;
    width: 220px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.activites--cards img {
    height: 100%;
}

#vieuxPort {
    object-position: -120px 0;
}

#calanques {
    object-position: -135px 0;
    filter: brightness(1.1);
}

.activites--cards--both {
    height: 330px;
    width: 240px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -10px;
}

.activites--cards--both img {
    width: 100%;
}

.activites--cards--shorts {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

#pomegues {
    height: 50%;
}

#pomegues img {
    object-position: 0 -70px;
}

#frioul {
    height: 35%;
}

#frioul img {
    object-position: 0 -10px;
}

#garde {
    height: 40%;
}

#longchamp {
    height: 45%;
}

.activites--cards--legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: white;  
    padding-left: 20px;
}

.activites--cards--legend h4 {
    margin-top: 10px;
}

#activites a:hover {
    color: #0065FC;
}

  /* ------------------------------ Footer ------------------------------ */
  footer {
      margin: 10px -30px 0 -30px;
      background-color: #F2F2F2;
      
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
  }

  .footer--list {
    height: 200px;
    margin-left: 40px;
    margin-right: 220px;
  }

  .footer--list ul {
      list-style-type: none;
      padding-left: 0;
  }

  .footer--list li {
      margin-bottom: 10px;
  }

  .footer--list a:hover {
      color: #0065FC;
  }