@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

body {
    margin-top: 0;
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
}

h2 {
    font-size: 1.1em;
    font-family: 'Raleway Bold';
}

h3 {
    font-size: 0.9em;
    font-family: 'Raleway Bold';
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: relative;
    margin: 0 20px;
    height: 350px;
}

/* menu cliquable en haut à droite */
.menu_ancres ul {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0%;
    right: 2%;
    list-style-type: none;
    width: 35%;
    height: 20%;
    z-index: 1;
}

.menu_ancres li:last-child {
    font-weight: bold;
}

.menu_ancres li {
    top: 0;
    padding: 40px 10px;
    font-size: 0.9em;
    color: #0065FC;
}

.menu_ancres li:hover {
    border-top: 3px solid #0065FC;
}

.menu_ancres a:hover {
    color: #0065FC;
}
/* left side of the header */
.header_side {
    position: absolute;
    margin-top: 30px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

/* reservia description */
.presentation {
    height: auto;
    margin-bottom: 2%;
}

.presentation img {
    width: 85px;
}

.presentation p {
    margin-top: -10px;
}

/* search bar */
.search {
    width: 35%;
    height: 13%;
    margin-bottom: 3%;
    display: flex;
}

.place_icon {
    background-color: #F2F2F2;
    flex: 1;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px 0 0 15px;
}

.search input {
    flex: 4;
    border: 1px solid #F2F2F2;
    padding-left: 15px;
}

.search_btn {
    flex: 2;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
}

/* filters bar */
.filters {
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.filters--btn {
    border: solid #DEEBFF 2px;
    width: auto;
    height: 40px;
    display: flex;
    border-radius: 30px;
}

.filters--pict {
    background-color: #DEEBFF;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.filters--btn, .filters h3 {
    margin-right: 20px;
}

.filters p {
    font-size: 0.9em;
    font-family: 'Raleway Bold';
    margin: 10px 15px 15px 20px;
}

/*icon bubbles*/
#money {
    width: 48%;
    margin-top: 30%;
}

#kid {
    width: 35%;
    margin-top: 25%;
}

#heart {
    width: 42%;
    margin-top: 28%;
}

#dog {
    width: 48%;
    margin-top: 25%;
}
/* infos */
.info-bar {
    display: flex;
}

.info-bulle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid #F2F2F2;
    text-align: center;
    margin: 8px 15px 0px 0px;
}

.info-bulle img {
    height: 50%;
    margin-top: 20%;
}