@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
}

h2 {
    font-size: 1.1em;
    font-family: 'Raleway Bold';
}

h3 {
    font-size: 0.9em;
    font-family: 'Raleway Bold';
}

h4 {
    font-size: 0.8em;
    font-family: 'Raleway Bold';
}

p {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    font-family: 'Raleway bold';
}

.footer__list ul {
    font-size: 0.7em;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
}

/* ------------------------------ header ------------------------------ */
header {
    position: relative;
    height: 360px;
}

/* menu cliquable en haut à droite */
.menu__ancres {
    position: absolute;
    top: 0;
    right: 2%;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    z-index: 1;
}

.menu__ancres ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menu__ancres li {
    font-size: 0.8em;
    margin-right: 50px;
}

.menu__ancres a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 37px;
}

.menu__ancres p {
    font-family: 'Raleway Bold';
    color: #0065FC;
    margin-top: 0;
}

/* left side of the header */
.header__side {
    position: absolute;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

/* reservia description */
.presentation img {
    width: 85px;
    height: auto;
}

.presentation p {
    margin-top: -10px;
}

/* city search bar */
.search {
    height: 40px;
    margin-bottom: 3%;
    display: flex;
}

.place__icon {
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 15px 0 0 15px;
    width: 50px;
}

.place__icon img {
    margin-top: 12px;
    width: 10px;
    height: auto;
}

.search input {
    width: 250px;
    border: 1px solid #F2F2F2;
    padding-left: 15px;
    font-family: 'Raleway Bold';
}

.search__btn {
    width: 90px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    margin-left: -4px;
}

.search__btn img {
    width: 0;
    height: auto;
    z-index: -2;
}

/* filters bar */
.filters {
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.filters__btn {
    border: solid #DEEBFF 2px;
    height: 40px;
    display: flex;
    border-radius: 30px;
    margin-right: 20px;
}

.filters__btn:hover {
    box-shadow: 0 0 10px #0065FC;
    cursor: pointer;
}

.filters__pict {
    background-color: #DEEBFF;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -1px;
}

.filters h3 {
    margin-right: 20px;
}

.filters p {
    font-size: 0.9em;
    font-family: 'Raleway Bold';
    margin: 10px 20px 15px 10px;
}

/*icon bubbles*/
#money {
    width: 48%;
    margin-top: 30%;
}

#kid {
    width: 36%;
    margin-top: 25%;
}

#heart {
    width: 42%;
    margin-top: 28%;
}

#dog {
    width: 48%;
    margin-top: 25%;
}
/* infos */
.info-bar {
    display: flex;
    margin-bottom: 20px;
}

.info__bulle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid #F2F2F2;
    text-align: center;
    margin: 8px 15px 0px 0px;
}

.info__bulle img {
    height: 50%;
    margin-top: 20%;
}

/* ------------------------------ Main section with "hébergements" ------------------------------ */
main {
    display: flex;
    flex-direction: column;
}

#hebergements {
    display: flex;
}

.hebergements__city {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex: 20;
    padding: 30px 30px 0px;
    margin-right: 30px;
    border-radius: 20px;
}

.hebergements__city h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.hebergements__city__cards { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    width: 215px;
    height: 155px;
    border: 4px solid white;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.cards__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.img--upper {
    object-position: 0px -30px;
}

#laMer {
    object-position: 0px -54px;
}

#amina {
    object-position: 0px -115px;
}

.cards__legend {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 60px;
    padding-left: 15px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.cards__legend h4 {
    margin-top: 7px;
}

.cards__legend p {
    margin-top: -14px;
}

.stars-bar {
    width: 50px;
    display: flex;
    margin-top: -7px;
}

.stars-bar img, .popular--stars-bar img {
    width: 10px;
    height: 10px;
}

.hebergements__city a:hover {
    color: #0065FC;
}

/* les plus populaires : aside */
.hebergements-popular {
    padding-top: 30px;
    background-color: #F2F2F2;
    flex: 9;
    min-width: 320px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.hebergements-popular__title {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hebergements-popular__title h2 {
    margin-top: 0;
}

.hebergements-popular__title img {
    width: 20px;
    height: 20px;
}

.popular__cards {
    width: 280px;
    height: 110px;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.popular__cards__img {
    width: 40%;
    height: 120px;
    object-fit: cover;
}

.popular__legend {
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 0 15px 15px 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.popular__legend h4 {
    margin-top: 10px;
}

.popular__legend p {
    margin-top: -10px;
}

.popular--stars-bar {
    width: 50px;
    display: flex;
    margin-top: 15px;
}

.hebergements-popular a:hover {
    color: #0065FC;
}
/* ------------------------------ Section2 ancre activities ------------------------------ */
#activites {
    padding: 20px 10px;
}

.activites__boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.activites__cards {
    display: block;
    position: relative;
    height: 310px;
    width: 220px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

.activites__cards img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#vieuxPort {
    object-position: -120px 0;
}

#calanques {
    object-position: -135px 0;
    filter: brightness(1.1);
}

.activites__cards__both {
    height: 330px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: -10px;
}

.activites__cards__both img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.activites__cards__shorts {
    display: block;
    position: relative;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(199, 197, 197);
}

#pomegues {
    height: 50%;
}

#pomegues img {
    object-position: 0 -80px;
}

#frioul {
    height: 35%;
}

#frioul img {
    object-position: 0 -10px;
}

#garde {
    height: 40%;
}

#longchamp {
    height: 45%;
}

.activites__cards__legend {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 35px;
    background-color: white;  
    padding-left: 20px;
    border-radius: 0 0 18px 18px;
}

.activites__cards__legend h4 {
    margin-top: 10px;
    font-size: 0.7em;
}

#activites a:hover {
    color: #0065FC;
}

  /* ------------------------------ Footer ------------------------------ */
footer {
    margin-top: 10px;
    background-color: #F2F2F2; 
    padding-top: 20px ;
}

.footer-inside {
        display: flex;
        max-width: 1440px;
        margin: 20px auto 0;
}

  .footer__list {
    width: auto;
    height: 200px;
    margin-left: 4%;
    margin-right: 12%;
  }

  .footer__list ul {
      list-style-type: none;
      padding-left: 0;
  }

  .footer__list li {
      margin-bottom: 15px;
      width: 180px;

  }

  .footer__list a:hover {
      color: #0065FC;
  }